<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="styles/admin/style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="logo">
            <h2>Clube Robotica</h2>
        </div><!--logo-->
    </header>

    <form method="post">
        <h2>Sing in</h2>
        <input type="text" name="user" autocomplete="off" placeholder="User">
        <div><input type="password" name="password" placeholder="Password"><i class="fas fa-eye"></i></div>
        <input type="submit" value="Login">
    </form>

    <script>
        const icon = document.querySelector('form div i');
        const inputPassword = document.querySelector('form div input');
        const inputSubmit = document.querySelector('form input[type="submit"]');
         
        inputSubmit.addEventListener('click', function(e){
            inputPassword.type = 'password';
        })
        icon.addEventListener('click', function(){
            if(icon.className == 'fas fa-eye') {
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
                inputPassword.type = 'text';
            }
            else if(icon.className == 'fas fa-eye-slash') {
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
                inputPassword.type = 'password';
            }
        });
    </script>
</body>
</html>